/*===================================RESET===================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: orangered;
    font-family: 'Poppins', sans-serif;
}
/*=========================================================================*/

body {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center fixed;
}

header {
    display: flex;
    justify-content: space-between;
    margin: 5px 50px 0 10px;
    border-bottom: 5px solid black;
    padding: 20px;
}

header ul {
    padding: 20px;
    margin: 10px;
    border-style: dashed;
    cursor: pointer;
}

header ul a:hover {
    color: white;
    transition: 300ms;
}

.logo {
    width: 110px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
}

.container {
    text-align: center;
    margin: 0 auto;
    padding: 50px;
}

h1 {
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 5px;
}

h5 {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight:lighter;
}

p {
    color: orangered;
}

#arrow {
    text-align: center;
    font-size: 30px;
    color: orangered;
}

#about {
    max-width: 800px;
    margin: 0 auto;
}

#form {
    width: 40%;
    margin: 0 auto;
    padding: 30px;
}

#form input {
    width: 60%;
    padding: 5px 10px;
}

#form button {
    width: 30%;
    padding: 5px 10px;
    color: black;
    font-weight: bold;
    background: #c0a717;
    background-size: 100%;
    background-position: right bottom;
    border: none;
    cursor: pointer;
    transition: all 300ms ease-out;
}